doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		header
			.logo 
				a(href="/")
					span job
					span.fade by
			nav
				ul
					li
						a(href="/") View jobs
						a(href="/create") Post a job

		section.content
			block content

		footer
			.copyright ❤️ –project by #[a(href="http://andersblom.dk") Anders Blom]
		script(type="text/javascript", src="/javascripts/main.js")