doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		header
			.logo 
				a(href="/")
					span job
					span.fade by
			nav
				ul
					li
						a(href="/") View jobs
						a(href="/create") Post a job

		section.content
			block content

		footer
			.copyright ❤️ –project by #[a(href="http://andersblom.dk") Anders Blom]
		script(type="text/javascript", src="/javascripts/bundle.js")
		//- TODO: this css needs to be available offline
		//- same goes with google fonts
		//- And this: https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css
		//- (set options for auto-download in markdown editor to false)
		link(rel='stylesheet', href='https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css')