doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		header
			.logo 
				a(href="/")
					span job
					span.fade by
			nav
				ul
					li
						a(href="/") View jobs
						a(href="/create") Post a job

		section.content
			block content

		footer
			p I am a footer and I do cool stuff
		script(type="text/javascript", src="/javascripts/main.js")