$black: #000000;
$white: #FFFFFF;

$darkBlue: #33363E;
$orange: #FF9F46;
$darkBlueFaded: #8EA3B6;
$whiteGray: #EEEFF4;

$errorRed: rgb(196, 54, 54);

$darkBackground: $darkBlue;
$brightBackground: $whiteGray;

$logoHighlight: $darkBlueFaded;

$highlight: $orange;
