body {
    padding: 0;
    margin: 0;
    background-color: $brightBackground;
}

header {
    background-color: $darkBackground;
    height: 70px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

	.logo {
        @extend %font-stack-serif;
        font-style: italic;
        font-weight: bold;
        font-size: 24px;
        margin-left: 1em;
        
        a {
            color: $white;
            text-decoration: none;
        }
        .fade {
            color: $logoHighlight;
        }
    }

    ul {
        list-style-type: none;

        li {
            a {
                color: $white;
                padding: 1em;
                text-decoration: none;
                @extend %font-stack-sans;
                font-weight: 300;

                &:hover {
                    color: $highlight;
                }
            }
        }
    }
}

h1 {
    margin-top: 0px;
}

section.content {
    background-color: $white;
    padding: 4em;
    height: auto;
    min-height: 100%;
}